<div class="espacocentro">
	<h1 class="cadastro">Cadastro<img src="/public/img/4.png" width="300"></h1>
	<div class="form-group">
		<label for="nome">Nome do produto</label>
		<input  class="form-control" type="text" id="nome" name="nome" maxlength="50" />
	</div>

	<div class="form-group">
		<label for="descricao">Descrição do produto</label>
		<input class="form-control" type="text" id="descricao" name="descricao" maxlength="100" />
	</div>


	<div class="form-group">
		<label for="preco">Preço do produto</label>
		<input class="form-control" type="number" id="preco" name="preco" maxlength="10" />
	</div>

	<div class="form-group botao">
		<button class="btn" type="button" id="buttonCriar">Criar produto</button>
	</div>
</div>

<script type="text/javascript">

	let nome = document.getElementById("nome");
	let descricao = document.getElementById("descricao");
    let preco = document.getElementById("preco");
	let buttonCriar = document.getElementById("buttonCriar");

	async function criarProduto() {
		if (!nome.value) {
			Swal.fire("Erro!", "O nome é obrigatório!", "error");
			return;
		}


		if (!descricao.value) {
			Swal.fire("Erro!", "A descrição é obrigatória!", "error");
			return;
		}

		let p = parseFloat(preco.value);
        if (isNaN(p) || p <= 0) {
			Swal.fire("Erro!", "O preço é obrigatório!", "error");
			return;
		}

		// Cria um objeto com os valores que serão enviados para o servidor.
		let dadosParaEnvio = {
			nome: nome.value,
			descricao: descricao.value,
            preco: p
		};

		let opcoes = {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
		    },
		    body: JSON.stringify(dadosParaEnvio)
		};

		try {
			let response = await fetch("/criarProduto", opcoes);

			if (response.ok) {
				nome.value = "";
				descricao.value = "";
                preco.value = "";

				Swal.fire("Sucesso!", "Produto criado com sucesso!", "success");
			} else {
				Swal.fire("Erro!", "Erro ao criar o produto!", "error");
			}
		} catch (ex) {
			Swal.fire("Erro!", "Erro de rede: " + ex.message, "error");
		}
	}

	buttonCriar.onclick = criarProduto;

</script>