<form class="espacocentro" id="formProduto">
	<h1 class="cadastro">Cadastro<img src="/public/img/4.png" width="300"></h1>
	<div class="form-group">
		<label for="nome">Nome do produto</label>
		<input  class="form-control" type="text" id="nome" name="nome" maxlength="50" />
	</div>

	<div class="form-group">
		<label for="descricao">Descrição do produto</label>
		<input class="form-control" type="text" id="descricao" name="descricao" maxlength="100" />
	</div>

	<div class="form-group">
		<label for="preco">Preço do produto</label>
		<input class="form-control" type="number" id="preco" name="preco" min="0" max="9999" />
	</div>

	<div class="form-group">
		<label for="imagem">Imagem do produto</label>
		<input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
	</div>

	<div class="form-group botao">
		<button class="btn" type="button" id="buttonCriar">Criar produto</button>
	</div>
</form>

<script type="text/javascript">

	let formProduto = document.getElementById("formProduto");
	let nome = document.getElementById("nome");
	let descricao = document.getElementById("descricao");
    let preco = document.getElementById("preco");
    let imagem = document.getElementById("imagem");
	let buttonCriar = document.getElementById("buttonCriar");

	async function criarProduto() {
		if (!nome.value) {
			Swal.fire("Erro!", "O nome é obrigatório!", "error");
			return;
		}

		if (!descricao.value) {
			Swal.fire("Erro!", "A descrição é obrigatória!", "error");
			return;
		}

		if (!imagem.value) {
			Swal.fire("Erro!", "A imagem é obrigatória!", "error");
			return;
		}

		let p = parseFloat(preco.value);
        if (isNaN(p) || p <= 0) {
			Swal.fire("Erro!", "O preço é obrigatório!", "error");
			return;
		}

		let opcoes = {
			method: "POST",
		    body: new FormData(formProduto)
		};

		try {
			let response = await fetch("/criarProduto", opcoes);

			if (response.ok) {
				nome.value = "";
				descricao.value = "";
                preco.value = "";

				Swal.fire("Sucesso!", "Produto criado com sucesso!", "success");
			} else {
				Swal.fire("Erro!", "Erro ao criar o produto!", "error");
			}
		} catch (ex) {
			Swal.fire("Erro!", "Erro de rede: " + ex.message, "error");
		}
	}

	buttonCriar.onclick = criarProduto;

</script>