<div>	
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-sm-6">
				<h1 class="corlaranja titulo">Recanto do Arco-Íris</h1>

				<p>Melhor loja de brinquedo do Brasil!</p>
				<p>Oferecemos brinquedos seguros e variados para favorecer o crescimento saudável das crianças.</p>
			</div>

			<div class = "col-sm-6">
				<p>tentar colocar imagems em transição</p>
			</div>
		</div>
	</div>
</div>

<p>Oi, <%= usuario %>! 😅</p>

<% for (let contador = 0; contador < quantidadeDeRepeticoes; contador++) { %>

	<h2>😱</h2>

	<p>O que é isso?!?!</p>

<% } %>

<p>Tchau, <%= usuario %>!</p>
