<div>
	<div class="container-fluid">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner paddingfds">
				<div class="carousel-item active">
					<img src="/public/img/toyst.png" class="d-block w-100" />
				</div>
				<div class="carousel-item">
					<img src="/public/img/ironman.png" class="d-block w-100" />
				</div>
				<div class="carousel-item">
					<img src="/public/img/princess2.png" class="d-block w-100" />
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</button>
		</div>

		<div class="paddingfds">
			<div class="row">
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/BARBIE.png"
							width="200">
						<h5>Barbies</h5>
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/BOBESPONJA.png"
							width="200">
						<h5>Bob Esponja</h5>
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/BOLA.png"
							width="200">
						<h5>Bolas</h5>
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/URSO.png"
							width="200">
						<h5>Pelúcias</h5>
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/PIXAR.png"
							width="200">
						<h5>Pixar</h5>
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/MONOPOLY.png"
							width="200">
						<h5>Jogos de tabuleiro</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="inteiro">
			<div style="list-style: none;" class="grupo">
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
				<p class="pontos"></p>
			</div>
		</div>

		<div class="paddingfds">
			<h3 class="topico">Os mais vendidos</h3>
			<div class="row">
				<% for (let i = 0; i < produtos.length; i++) { %>
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<div class="altmin">
						<img src="/public/img/brinquedo<%= produtos[i].id %>.jpeg" width="400">
						</div>
						<p>
							<%= produtos[i].nome %>
						</p>
					</div>
				</div>
				<% } %>
			</div>
		</div>


		<div class="paddingfds">
			<h3 class="topico">Nossos clientes</h3>
			<div class="row">
				<div class="col-sm-4 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/2.png" width="400">
					</div>
				</div>

				<div class="col-sm-4 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/3.png" width="400">
					</div>
				</div>

				<div class="col-sm-4 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/1.png" width="400">
					</div>
				</div>
			</div>
		</div>
	</div>



</div>