<div>	
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-sm-6">
				

				<p>Melhor loja de brinquedo do Brasil!</p>
				<p>Oferecemos brinquedos seguros e variados para favorecer o crescimento saudável das crianças.</p>
			</div>

			<div class = "col-sm-6">
				<p>tentar colocar imagems em transição </p>
			</div>
		</div>
	</div>
</div>
