<div>	
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-sm-6">
				<p>tentar colocar imagems em transição </p>
			</div>
		</div>

		<div class = "paddingfds">
			<div class = "row">
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>Bonekitas</h5>		
					</div>
				</div>
					
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>carrinhos</h5>	
					</div>
				</div>

				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>Brabuletas</h5>		
					</div>
				</div>
							
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>Bolhas</h5>				
					</div>
				</div>
								
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>Barbies</h5>	
					</div>
				</div>
								
				<div class="col-sm-2 text-center">
					<div class="fundo-coluna">
						<img src="/public/img/Cópia de Logo Escola Berçário e Educação Infantil Arco íris.png" width="100">
						<h5>DODOS</h5>	
					</div>
				</div>
			</div>
		</div>

    <div class = "paddingfds">
		<h3>Os mais vendidos</h3>
		<div class="row">
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>

			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>
		</div>

		<div class="row">		
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>
			
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>
			
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">	
				</div>
			</div>
			
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>
			
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">		
				</div>
			</div>
			
			<div class="col-sm-2 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/toy.png" width="400">			
				</div>
			</div>
		</div>

	</div>

	<div class="paddingfds">
		<h3>Nossos clientes</h3>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/Purple.png" width="400">		
				</div>
			</div>

			<div class="col-sm-4 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/Purple.png" width="400">			
				</div>
			</div>
			
			<div class="col-sm-4 text-center">
				<div class="fundo-coluna">
					<img src="/public/img/Purple.png" width="400">	
				</div>
			</div>
		</div>
	</div>
	

	</div>


	
</div>
