body {
    font-family: 'Raleway', sans-serif;
}

.frete {
    background-color: #FFF8D6;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight:500;
}

.topico{
 font-family: 'Henny Penny';
 color: #f67551 ;
 font-size: 40px;
}

.margem{
    margin: 0 0 0 10px;
}

img {
    max-width: 100%;
}

.corlaranja{
    color: #f67551;
}

.titulo{
    text-align: left;
    font-weight:800;
}

header{
   position:relative;
   display: flex;
   justify-content: space-between;
   width: 100%;
   background: #fff;
   box-shadow: 0 5px 25px rgba(0,0,0,0.05);
   z-index: 1000;
   min-height: 60px;
   padding-right: 60px;
}

.corpo{
    position: relative;
    background: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

.logo{
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;
}

.fundo-coluna {
		
    padding: 10px;
    
}

.paddingfds{
    padding: 30px 10px;
}

.fim{
    font-size: 15px;
    padding: 10px 0;
}

.fim2{
    font-size: 15px;
    padding: 5px 2px;
}

.fim3{
    font-size: 15px;
    padding: 2px 0;
    color: black;
    
}

.altmin{
    min-height: 180px;
}

.corfinal {
    background-color: #FFF8D6;
}

.coluna2{
    padding: 15px 5px;
}

.pad3{
    padding: 0 0 20px 0;
}

.cor{
    background-color: #fff8d6;
}



#toggle{
    position:absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #f67551;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active{
    background: #f7226a;
}

#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}

#navbar.active{
    width: 350px;
}

#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
   color: #12334e;
   height: 60px;
   line-height: 60px;
   display: inline-block;
   text-decoration: none;
   font: 1.2em;
   padding: 0 15px;
   letter-spacing: 2px;
}

#navbar ul li a:hover{
    color: #888888;
    background: #fff8d6;
}

/* responsive - navbar */
@media (max-width: 991px){
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #navbar.active{
        height: calc(100vh - 125px);
        bottom: 0;
        width: 100%;
    }

    #navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ocultar-conteudo {
        overflow: hidden;
    }
}


.inteiro{
    padding: 100px 0 0 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}


.grupo{
    position: relative;
    display: flex;
    height: 100px;
}

.grupo::after{
    transform: rotateY(-50%, -700%);
}

.pontos{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 5px;
}

.pontos:nth-child(1){
    background-color: #888888;
}

.pontos:nth-child(2){
    background-color: #FFB8A7;
    animation: love1 5s 0s infinite;
}

.pontos:nth-child(3){
    background-color: #FFD3A7;
    animation: love2 5s 0.2s infinite;
}

.pontos:nth-child(4){
    background-color: #FFF8D6;
    animation: love3 5s 0.4s infinite;
}

.pontos:nth-child(5){
    background-color: #C8FFA7;
    animation: love4 5s 0.6s infinite;
}

.pontos:nth-child(6){
    background-color: #A7FFE7;
    animation: love5 5s 0.8s infinite;
}

.pontos:nth-child(7){
    background-color: #C8FFA7;
    animation: love4 5s 1s infinite;
}

.pontos:nth-child(8){
    background-color: #FFF8D6;
    animation: love3 5s 1.2s infinite;
}

.pontos:nth-child(9){
    background-color: #FFD3A7;
    animation: love2 5s 1.4s infinite;
}

.pontos:nth-child(10){
    background-color: #FFB8A7;
    animation: love1 5s 1.6s infinite;
}

.pontos:nth-child(11){
    background-color: #888888;
}

/* animação */
@keyframes love1 {
    30%,50%{
        height: 30px;
        transform: translateY(-15px);
    }

    70%,100%{
        height: 10px;
        transform: translateY(0);
    }
}

@keyframes love2 {
    30%,50%{
        height: 62.5px;
        transform: translateY(-30px);
    }

    70%,100%{
        height: 10px;
        transform: translateY(0);
    }
}

@keyframes love3 {
    30%,50%{
        height: 80px;
        transform: translateY(-37.5px);
    }

    70%,100%{
        height: 10px;
        transform: translateY(0);
    }
}

@keyframes love4 {
    30%,50%{
        height: 90px;
        transform: translateY(-30px);
    }

    70%,100%{
        height: 10px;
        transform: translateY(0);
    }
}

@keyframes love5 {
    30%,50%{
        height: 100px;
        transform: translateY(-22.5px);
    }

    70%,100%{
        height: 10px;
        transform: translateY(0);
    }
}
